# MacOS
.DS_Store*

# Node.js and .env files
node_modules
package-lock.json
swagger-output.json
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json