{
	auto_https off
}

guehds.local.promptly.health:80 {
	reverse_proxy host.docker.internal:8000
}

auth.local.promptly.health:80 {
    reverse_proxy host.docker.internal:9011 {
        header_up X-Forwarded-Port 80
    }
}

syft.local.promptly.health:80 {
    reverse_proxy host.docker.internal:8081
}

blockchain.local.promptly.health:80 {
    reverse_proxy host.docker.internal:3000
}
