.info-title {
    margin: 0 8px 0 0;
    font-weight: bold;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 8px;
    font-size: 16px;
}


/* Custom Button */

.custom-button {
    background: none;
    border: none;
    color: #000;
}

.custom-button:hover,
.custom-button:active,
.custom-button:focus,
.custom-button:visited {
    background: none !important;
    color: #000 !important;
    outline: none !important;
    box-shadow: none !important;
}

.disabled-button {
    background: none;
    border: none;
    color: #000;
    cursor: not-allowed;
}

.disabled-button:hover,
.disabled-button:active,
.disabled-button:focus,
.disabled-button:visited {
    background: none !important;
    color: #000 !important;
    outline: none !important;
    box-shadow: none !important;
}

.table-icon-button {
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
}


/* Tables */

.bigger-table th {
    background-color: #d1d5db;
    padding: 10px 24px;
    text-align: left;
}

.bigger-table td {
    background-color: #e5e7eb;
    padding: 10px 24px;
    text-align: left;
    border-top: 1px solid #d1d5db;
}

.bigger-table {
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
}

.smaller-table th {
    background-color: #e5e7eb;
    padding: 6px 10px;
    text-align: left;
    white-space: nowrap;
}

.smaller-table td {
    background-color: #f3f4f6;
    padding: 8px 10px;
    text-align: left;
    border-top: 1px solid #e5e7eb;
}

.smaller-table {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
